@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Baloo+Bhaijaan+2&family=Concert+One&family=Dosis:wght@300&family=Genos:wght@300&family=Lato&family=Montserrat:wght@300&family=Pacifico&family=Permanent+Marker&family=Special+Elite&family=Voltaire&display=swap');

body{
    background-color: #ffffff;
    margin:0;
    padding:0;
}

.header{
    width: 100%;
    height:4%;
    margin:0;
    background-color: #ffffff;
    color:rgb(25, 118, 131);
    line-height: 70px;
    position: sticky;
    top:0px;
    display:flex;
    justify-content:space-between;
    

}

.nav{
    flex-basis:50%;
    font-size:1.3em;
}

/* NAV contents in Header div */
nav{
    display:inline;
    margin-right: 20px;
    font-family: 'Baloo Bhaijaan 2', cursive;   
    margin-bottom:3px;
    

}

/* NAV content after hovering */

nav:hover{
    font-weight: bolder;
}

button{
    background-color:rgb(95, 163, 219);
    color:white;
    width:147px;
    height: 40px;
    font-family: 'Baloo Bhaijaan 2', cursive;  
    font-size: 0.9em;
    border:0;
    border-radius: 5px;

}

/* Button content after hovering */

button:hover{
    font-weight: bolder;
    background-color:rgb(141, 37, 58);
    opacity:0.7;

    /* Transition property will help in animating */

    transition: 0.4s;
  
}


h2{
    font-family: 'Pacifico', cursive;
    margin:0;
    margin-left:30px;
    font-size: 2em;
    flex-basis:40%;
}

.advertise{
    width:100%;
    height:23vw;
    background-color:#6BD9ED;
    opacity:0.8;
}
.advertise h1{
    text-align:center;
    font-size:2.2em;
    margin-top:0px;
    margin-bottom :0px;
    line-height: 80px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color:whitesmoke;
}

.advertise img{
    width:35%;
    height:75%;
    margin-left:30%;
}

.container{
    width:100%;
    display:flex;
    justify-content:space-around;
    height: 1700px;
    background-color: white;
}



.left_content{
    /* width:60%; */

    flex-basis: 70vw;        /*You have to give space between minus sign calc(responsive - static value)*/
    padding:1px;

    margin:0px;
    height:98%;
    display:block;
    margin-bottom: 10px;
   
}
p,h3,h4{
    margin:3px;
}
.left_content h4{
    width:16%;
    margin:0px;
    font-size:1.6em;
    height: 35px;
    padding:7px;
   
    line-height: 35px;
  
    opacity:0.65;
    font-family: 'Voltaire', sans-serif;
    font-weight: bolder;
    
    

}
.selected_heading{
    
    border-radius: 5px;
    background-color:rgba(137, 43, 199, 0.6);
    color:black;

}

/* TO hover over the heading display */

.left_content h4:hover{

    border-radius: 5px;
    background-color:rgba(204, 204, 204, 0.5);
    color:rgb(15, 56, 15);


}


.inline{
    display:inline-block;
    
}
.card{
    margin:30px 0px;
    height:42vw;
    padding:5px;

    
}

.left{
    width:85%;
    text-align:justify;
}
.left h5{
    opacity:0.5;
    margin:3px 6px;
    font-size:1em;
}
.left img{
    width:90%;
    height: 500px;
    margin:1% 3%;
}

.left p{
    margin-left:10px;
    color:rgb(58, 58, 104);
}
.card h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color:rgb(37, 58, 58);
}
.right_content .card h3{
    font-family: 'Special Elite', cursive;
    margin:15px 7px;
    opacity:0.8;


    font-size: 1.3em;
    color:rgb(48, 131, 93);
}

.right_content .card h4{
 
    font-family: 'Lato', sans-serif;
    font-size:1.3em;
    margin:14px 7px;
    color:rgb(59, 108, 182);
    opacity:0.8;
}

.right_content .card p{
    line-height:30px;
    font-family: 'Lato', sans-serif;
    opacity:0.7;
    font-size:1.1em;

}

.right_content .card{
    margin:30px 0px;
    height:30vw;
    background-color: rgb(255, 255, 255);
    padding:5px;



}

#read_more{
    display: none;
}

#dots{
    font-size:1.2em;
    font-weight: bolder;
    color:cadetblue;
}
#read_more2{
    display: none;
}

#dots2{
    font-size:1.2em;
    font-weight: bolder;
    color:cadetblue;
}




.left button{
    background-color:rgb(79, 80, 80);
    color:white;
    width:100px;
    height: 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;  
    font-size: 0.9em;
    border:0;
    border-radius: 5px;
    opacity:0.7;

}

/* Button content after hovering */

.left button:hover{
    font-weight: bolder;
    background-color:rgb(36, 131, 95);
    opacity:0.7;

    /* Transition property will help in animating */

    transition: 0.4s;
  
}


.sections{
    height:20vw;
    background-color: rgb(255, 255, 255);
    padding:5px;
}

.card-sticky{
    position: sticky;
    top:11%;

}

.card-sticky h4{
    background-color: rgba(223, 67, 10,0.6);
    opacity:0.8;
    height:50px;
    line-height:50px;
    font-family: 'Lato', sans-serif;
    font-size:1.4em;
    text-align: center;
    
}

#insights{

    font-family: 'Lato', sans-serif;

}

#insights li{
    height:40px;
    font-size:1.2em;
    background-color: rgb(255, 255, 255);

}
.right_content{
    /* width:38%; */

    flex-basis: calc(40vw - 10px);        /*You have to give space between minus sign      calc(responsive - static value) */
    height:60%;

    padding:5px;
}

.footer{
    height:250px;
    width:100%;
    background-color: rgba(139, 172, 177, 0.8);
    display:flex;
    opacity:0.85;
}

.footer #about{
    flex-basis: 20vw;
    margin:30px 20px;
    display:block;
    color:white;
   

}

#about h3{
    font-size: 1.5em;
    margin:0px 25px ;
    margin-bottom:20px;
    color:rgb(5, 5, 27);
    opacity:0.7;
    font-family: 'Lato', sans-serif;
}

.footer #contact{
    flex-basis: 50vw;
    margin:30px 20px;
    display:block;
    color:white;
   

}


#contact h3{
    font-size: 1.5em;
    margin:0px 25px ;
    margin-bottom:20px;
    color:rgb(5, 5, 27);
    opacity:0.7;
    font-family: 'Lato', sans-serif;

}


.footer #resources{
    flex-basis: 26vw;
    margin:30px 10px;

}
.footer #discover{
    flex-basis: 26vw;
    margin:30px 10px;

}
.footer #contact{
    flex-basis: 55vw;
    margin:0px 10px;
    background-color:rgb(51, 87, 88);

}

.footer h3{
    font-size: 1.5em;
    margin:0px 25px ;
    margin-bottom:20px;
    color:rgb(5, 5, 27);
    opacity:0.7;
    font-family: 'Lato', sans-serif;

}
.footer p{
    font-family: 'Lato', sans-serif;
    margin:0px 28px ;
    line-height:35px;
    font-size: 1.1em;
    color:rgb(0, 0, 77);



}

#contact h3{
    color:rgb(231, 118, 118);
    margin:23px;
    margin-left:0;
    opacity:1;
    text-align: center;
}

#contact input[type="text"]{
    width:60%;
    margin-left:140px;
    opacity:0.5;
    height: 28px;
    border:0;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}
#contact #tarea{
    width:60%;
    margin:10px;
    margin-left:140px;
    opacity:0.5;
    height: 80px;
    border:0;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

#contact button{
    width: 60%;
    margin:1px;
    margin-left:20.5%;
    height:30px;
    background-color:rgb(150, 41, 41);
    color:rgb(192, 186, 186);
    opacity:0.76;
    font-size:1.2em;
    border:0;
    border-radius: 8px;
}

#enroll{
    width:95%;
    height:50px;
    background-color: rgb(36, 71, 55);
    color:white;
    opacity:0.9;
    margin:5px;
    margin-left:10px;
}

.enroll_images{
    height: 180px;
    width:100%;
   
    display:flex;

}

.enroll_images .i{
    height: 80%;
    margin:12px 15px;
    width: 33%;
    
    

}

.i img{
    width:100%;
    height:100%;

}